body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

hr {
  max-width: 50px;
  border-width: 4px;
  border-color: #C8A4A8;
}

@media (min-width: 992px) {
  hr {
    max-width: 90px;
    margin: 25px auto;
  }
}

hr.light {
  border-color: #fff;
}

a {
  color: #C8A4A8;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #c8a4a8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.bg-primary {
  background-color: #C8A4A8 !important;
}

.bg-dark {
  background-color: #262627 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 3rem;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 992px) {
  .section-heading {
    font-size: 3rem;
    line-height: 68px;
  }
}

.section-intro {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #757575;
  max-width: 480px;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.carousel-indicators--round li {
  border-radius: 10px;
  margin: 0 0.5rem;
  height: 12px;
  max-width: 12px;
  border: 1px;
  background-color: #262627;
  opacity: 0.5;
  cursor: pointer;
}

.carousel-indicators--round li:hover {
  background-color: #C8A4A8;
}

@media (min-width: 768px) {
  .carousel-indicators--round li {
    height: 16px;
    max-width: 16px;
  }
}

.carousel-indicators .active {
  background-color: #C8A4A8;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.vert .carousel-indicators {
  top: 80%;
  bottom: inherit;
  left: 1rem;
  right: inherit;
  margin: auto;
  transform: translateY(-50%);
  display: block;
}

.vert .carousel-indicators li {
  display: block;
  margin: 1rem;
  border: 2px solid #9B9B9B;
}

@media (min-width: 768px) {
  .vert .carousel-indicators {
    top: 50%;
  }
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-top-large-screen {
  display: none;
}

#mainNav .navbar-brand .navbar-brand-logo {
  width: auto;
  max-width: 10rem;
}

#mainNav .navbar-info-btn {
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0;
  margin-right: 1.2rem;
  box-shadow: none;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: #262627;
  box-sizing: border-box;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #C8A4A8;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #C8A4A8 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    flex-wrap: wrap;
    padding: 0;
  }
  #mainNav .navbar-info-btn {
    display: none;
  }
  #mainNav .navbar-top-large-screen {
    display: flex;
    color: #fff;
    height: 48px;
  }
  #mainNav .navbar-top-large-screen .navbar-top-large-screen-info .navbar-top-large-screen-info-detail {
    display: inline-block;
    margin: 0 1rem;
    font-size: 16px;
    letter-spacing: 1px;
  }
  #mainNav .navbar-top-large-screen .navbar-top-large-screen-info .navbar-top-large-screen-info-detail .navbar-top-large-screen-info-detail-content {
    opacity: 0.75;
  }
  #mainNav .navbar-top-large-screen .navbar-top-large-screen-social {
    font-size: 20px;
  }
  #mainNav .navbar-top-large-screen .navbar-top-large-screen-social a {
    padding: 0 8px;
    color: #fff;
    opacity: 0.75;
  }
  #mainNav .navbar-top-large-screen .navbar-top-large-screen-social a:hover {
    opacity: 1;
  }
  #mainNav .navbar-brand {
    max-width: 15rem;
    padding: 1rem 0;
  }
  #mainNav .navbar-nav > li.nav-item {
    padding: 0 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 0rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    letter-spacing: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #C8A4A8;
    border-bottom: 3px solid #C8A4A8;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-top-large-screen {
    display: none;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #C8A4A8;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #c8a4a8;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #262627;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #C8A4A8;
  }
  #mainNav .nav-link-button {
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #C8A4A8 !important;
    padding: 0.5rem !important;
    border-radius: 300px;
  }
  #mainNav .nav-link-button:hover {
    color: #fff !important;
    background-color: #C8A4A8;
  }
}

@media (min-width: 1200px) {
  #mainNav .navbar-top-large-screen {
    padding: 0 3rem;
  }
  #mainNav .navbar-top-large-screen .navbar-top-large-screen-social a {
    padding: 0 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    letter-spacing: 2px;
  }
  #mainNav .nav-link-button {
    padding: 0.5rem 1rem !important;
  }
}

#navbarInfo .modal-header {
  padding: 0;
  border: none;
}

#navbarInfo .modal-header .close {
  margin: 0 0 0 auto;
  padding: 1rem 1rem 0 1rem;
}

#navbarInfo .modal-body {
  border: none;
  padding-top: 0.5rem;
}

#navbarInfo .navbar-top-large-screen-info .navbar-top-large-screen-info-detail {
  display: inline-block;
  margin: 0 1rem;
  font-size: 16px;
  letter-spacing: 1px;
}

#navbarInfo .navbar-top-large-screen-info .navbar-top-large-screen-info-detail .navbar-top-large-screen-info-detail-content {
  opacity: 0.75;
}

#navbarInfo .navbar-top-large-screen-social {
  font-size: 20px;
  padding: 1rem 0.5rem;
}

#navbarInfo .navbar-top-large-screen-social a {
  padding: 0 8px;
  color: #C8A4A8;
  opacity: 0.75;
}

#navbarInfo .navbar-top-large-screen-social a:hover {
  opacity: 1;
}

header.masthead {
  text-align: right;
  position: relative;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 42px;
  color: #262627;
  margin-bottom: 4rem;
}

header.masthead h1 .masthead-heading-dash {
  display: inline-block;
  height: 3px;
  width: 2.5rem;
  background-color: #C8A4A8;
  margin: 8px 0;
}

header.masthead .carousel-item {
  min-height: 300px;
  height: 80vh;
  background: no-repeat 30% center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .carousel-item .carousel-caption {
  bottom: 20%;
  right: 5%;
  left: 5%;
  text-align: right;
}

header.masthead .masthead-container {
  margin: auto;
}

header.masthead .masthead-content {
  display: none;
  color: #757575;
  font-weight: bold;
}

header.masthead .masthead-white-filter {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
}

@media (min-width: 576px) {
  header.masthead .masthead-content {
    display: block;
  }
}

@media (min-width: 768px) {
  header.masthead .masthead-content {
    display: block;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 25px;
    padding-left: 2.4rem;
  }
}

@media (min-width: 992px) {
  header.masthead .carousel-item {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    background-position: center center;
  }
  header.masthead .carousel-item .carousel-caption {
    right: 10%;
  }
  header.masthead h1 {
    font-size: 3rem;
    line-height: 72px;
  }
  header.masthead h1 .masthead-heading-dash {
    height: 3px;
    width: 4rem;
    margin: 15px 0;
  }
  header.masthead .masthead-container {
    padding-top: 10rem;
  }
  header.masthead .masthead-white-filter {
    background: rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
  header.masthead h1 .masthead-heading-dash {
    height: 4px;
    width: 5rem;
  }
}

@media (min-width: 1500px) {
  header.masthead .masthead-content {
    padding-left: 15rem;
  }
}

#about .about-content {
  padding: 0 2rem 2rem;
}

#about .about-content .about-content-heading .about-content-dash {
  display: inline-block;
  height: 3px;
  width: 3rem;
  margin: 8px 5px;
  background-color: #C8A4A8;
}

#about .about-content .about-content-text {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 25px;
}

#about .about-content .about-content-text--color-3 {
  color: #757575;
}

#about .about-img {
  text-align: center;
}

#about .about-img img {
  width: 100%;
  max-width: 350px;
}

@media (min-width: 768px) {
  #about .about-content .about-content-heading .about-content-dash {
    height: 3.2px;
    width: 4.5rem;
    margin: 12px 8px;
  }
}

@media (min-width: 992px) {
  #about .about-content {
    padding: 4rem 2rem;
  }
  #about .about-content .about-content-heading .about-content-dash {
    height: 4px;
    width: 5rem;
    margin: 12px 8px;
  }
  #about .about-img {
    text-align: right;
  }
  #about .about-img img {
    max-width: 400px;
  }
}

#services {
  background-color: #F8F8F8;
}

#services .services-heading {
  padding-bottom: 2rem;
}

#services .services-block {
  text-align: center;
  padding: 2rem;
}

#services .services-block .services-block-img {
  width: 90px;
  height: 90px;
  background-color: #E7E7E7;
  border-radius: 90px;
  margin: 1rem auto;
}

#services .services-block .services-block-text {
  letter-spacing: 1px;
}

#services .services-block .services-block-text .services-block-text-heading {
  font-size: 30px;
  margin: 2rem auto;
}

#services .services-block .services-block-text .services-block-text-info {
  font-size: 14px;
  line-height: 25px;
  color: #757575;
}

#services .services-img-box {
  margin: auto;
}

@media (min-width: 576px) {
  #services .services-block {
    padding: 0 1rem;
  }
  #services .services-block .services-block-img {
    margin: 0.5rem auto;
    width: 60px;
    height: 60px;
  }
  #services .services-block .services-block-img img {
    width: 60px;
    height: 60px;
  }
  #services .services-block .services-block-text {
    letter-spacing: 0;
  }
  #services .services-block .services-block-text .services-block-text-heading {
    font-size: 20px;
    margin: 0.5rem auto;
  }
  #services .services-block .services-block-text .services-block-text-info {
    margin-bottom: 0.5rem;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  #services .services-block {
    padding: 1rem;
  }
  #services .services-block .services-block-img {
    margin: 0.8rem auto;
  }
  #services .services-block .services-block-text .services-block-text-heading {
    font-size: 25px;
  }
  #services .services-block .services-block-text .services-block-text-info {
    line-height: 25px;
  }
}

@media (min-width: 992px) {
  #services .services-block .services-block-text .services-block-text-info {
    line-height: 20px;
  }
}

@media (min-width: 1200px) {
  #services .services-block .services-block-img {
    width: 80px;
    height: 80px;
  }
  #services .services-block .services-block-img img {
    width: 80px;
    height: 80px;
  }
  #services .services-block .services-block-text {
    letter-spacing: 1px;
  }
  #services .services-block .services-block-text .services-block-text-info {
    line-height: 25px;
  }
}

@media (min-width: 1500px) {
  #services .services-block {
    padding: 2rem;
  }
  #services .services-block .services-block-img {
    margin: 0.5rem auto;
  }
  #services .services-block .services-block-text .services-block-text-heading {
    font-size: 30px;
    margin: 1rem auto;
  }
}

.text-primary {
  color: #C8A4A8 !important;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid #C8A4A8;
  color: #262627;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #C8A4A8 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.btn-dark {
  background-color: transparent;
  border: 2px solid #262627;
  color: #262627;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #C8A4A8;
  background-color: #262627 !important;
}

.btn-dark:active, .btn-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

@media (min-width: 1500px) {
  .container--large {
    max-width: 1400px;
  }
}
