#pricing {
  background-image: url("../img/price-bg.png");
  @include background-cover;
  background-position: center center;
  background-repeat: no-repeat;

  .pricing-list {
    margin: 2rem auto;
    .pricing-list-item {
      padding: 0 0 1rem;
      margin: 2rem 0;
      border-bottom: 1px solid $color-4;
      .pricing-list-item-name {
        font-size: 24px;
        letter-spacing: 1px;
        margin: auto;
      }
      .pricing-list-item-tag {
        margin-top: 0.8rem;
        width: 100px;
        height: 35px;
        font-size: 12px;
        letter-spacing: 1px;
        background-color: $primary;
        color: $white;
        text-transform: uppercase;
        border-radius: 300px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        padding: .375rem .75rem;
        line-height: 2;
      }
      .pricing-list-item-price {
        text-align: right;
        font-size: 24px;
        color: $primary;
      }
      .pricing-list-item-description {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 25px;
        color: $color-3;
      }
    }

    @media (min-width: 768px) {
      margin: auto;
    }

    @media (min-width: 992px) {
      .pricing-list-item {
        .pricing-list-item-name {
          display: inline-block;
          line-height: 35px;
        }
        .pricing-list-item-tag {
          margin: -0.5rem 0 0 0.5rem;
          display: inline-block;
        }
      }
    }

    @media (min-width: 1200px) {
      .pricing-list-item {
        .pricing-list-item-tag {
          margin: -0.5rem 0 0 1rem;
        }
      }
    }

  }
}
